.user-content {
  background: lighten($orombogrey, 74.5%);

  @import '../templates/_breadcrumbs';

  .page-content {
    padding: .75rem 1rem .75rem 2.5rem;
    overflow-y: scroll;
    height: calc(100% - 183px);

    @import 'my-profiles/_my-profiles';

    

    .user-info {
      width: 300px;
      background: white;
      padding: 1rem;
      border-bottom: 1px solid rgba($orombogrey, .2);

      .user-pic {
        margin: auto;
        width: 50px;
        height: 50px;
        background: $orombogreen;
        border-radius: 35px;
        position: relative;
        transition: ease .5s all;

        img {
          width: 50px;
          height: 50px;
          border-radius: 35px;
        }

        &:hover {
          a {
            background: rgba($oromboorange, .8);
            color: white
          }
        }
      }

      .user-name {
        margin-top: .5rem;
        line-height: 1rem;

        span {
          text-transform: uppercase;

          small {
            text-transform: capitalize;
          }
        }
      }
    }


  }
}