.user-content {
  background: lighten($orombogrey, 74.5%);

  @import '../templates/_breadcrumbs';

  .page-content {
    padding: .75rem 1rem .75rem 2.5rem;
    overflow-y: scroll;
    height: calc(100% - 183px);

    @import 'jobs/_jobs';

    @import 'my-profiles/_my-profiles';

  }
}