/**

Project Name: Orombo Tree
Author: Anmol Nandha - Five Quarter Designs
Version: 1.0
Description: The official stylesheet for the Orombo Tree application

*/
/**********************
  FONTS 
***********************/
@import url("https://fonts.googleapis.com/css?family=Krub:200,300,400,500,600,700|Saira+Semi+Condensed:100,200,300,400,500,600,700");
@-webkit-keyframes carousel-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carousel-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes carousel-title {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes carousel-title {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

/**********************
  GENERAL 
***********************/
body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 387px;
}

body h1,
body h2,
body h3 {
  font-family: 'Krub', sans-serif;
}

body form .form-group {
  margin: 0;
}

body .card {
  background: transparent;
  border: 0;
}

body .card .card-header, body .card .card-body {
  border-radius: 0;
  background: white;
}

body .card .card-header {
  font-size: 1.125rem;
}

body .card .card-body {
  margin-top: 5px;
}

body .btn-green, body .btn-orange, body .btn-grey, body .btn-facebook, body .btn-google, body .btn-linkedin {
  border: 0;
  border-radius: 25px;
  color: white;
  width: 230px;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .btn-green {
  background: #00A099;
}

body .btn-green:hover {
  background: #006d68;
}

body .btn-orange {
  background: #F19100;
}

body .btn-orange:hover {
  background: #d88200;
}

body .btn-grey {
  background: #bcbbb9;
}

body .btn-grey:hover {
  background: #222221;
}

body .btn-facebook {
  background: #3B5998;
  height: 36px;
  width: 36px;
  padding: 0;
}

body .btn-google {
  background: #DB4437;
  height: 36px;
  width: 36px;
  padding: 0;
}

body .btn-linkedin {
  background: #0077B5;
  height: 36px;
  width: 36px;
  padding: 0;
}

/**********************
  NAVBAR 
***********************/
.navbar {
  background: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.navbar .navbar-brand {
  width: 189px;
}

.navbar .navbar-brand img {
  width: 189px;
}

.navbar .navbar-toggler {
  font-size: 2rem;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navbar-collapse.show {
  margin-top: 10px;
  border-top: 1px solid rgba(60, 59, 58, 0.5);
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 300;
  text-transform: uppercase;
  color: #3C3B3A;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

.navbar .navbar-nav .nav-item .nav-link.nav-signup-login {
  color: #00A099;
  font-weight: 500;
  border: 1px solid #00A099;
  border-radius: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link.nav-signup-login:hover {
  background: #00A099;
  color: white;
}

/**********************
  MAIN 
***********************/
main {
  /* HOME SLIDER */
  /* HOW IT WORKS */
  /* SERVICES */
  /* CATEGORIES */
  /* TESTIMONIALS */
  /* LOGIN */
}

main .home-carousel .carousel {
  background: #1f8985;
  background: linear-gradient(307deg, #1f8985 0%, #80d5d1 100%);
  max-height: 400px;
}

main .home-carousel .carousel .carousel-item {
  max-height: 400px;
}

main .home-carousel .carousel .carousel-item img {
  opacity: 0;
  -webkit-animation: carousel-img 2s ease-out .5s 1;
          animation: carousel-img 2s ease-out .5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .home-carousel .carousel .carousel-item .carousel-caption {
  width: 1140px;
  text-align: left;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

main .home-carousel .carousel .carousel-item .carousel-caption h1,
main .home-carousel .carousel .carousel-item .carousel-caption p {
  opacity: 0;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  width: 665px;
  position: relative;
}

main .home-carousel .carousel .carousel-item .carousel-caption h1 {
  font-size: 2.5rem;
  -webkit-animation: carousel-title 1s ease-out 1s 1;
          animation: carousel-title 1s ease-out 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .home-carousel .carousel .carousel-item .carousel-caption p {
  font-size: 1.25rem;
  -webkit-animation: carousel-title 1s ease-out 1.5s 1;
          animation: carousel-title 1s ease-out 1.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .home-carousel .carousel .carousel-item .carousel-caption .btn-orange {
  position: relative;
  opacity: 0;
  -webkit-animation: carousel-title 1s ease-out 2s 1;
          animation: carousel-title 1s ease-out 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-shadow: 0px 13px 16px 0px #00a099;
  box-shadow: 0px 13px 16px 0px #00a099;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  main .home-carousel .carousel .carousel-item .carousel-caption {
    width: 70%;
    padding-bottom: 0;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption h1 {
    font-size: 2rem;
    width: 100%;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption p {
    font-size: 1rem;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  main .home-carousel .carousel .carousel-item .carousel-caption {
    width: 70%;
    padding-bottom: 0;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption h1 {
    font-size: 2rem;
    width: 100%;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption p {
    font-size: 1rem;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  main .home-carousel .carousel .carousel-item {
    min-height: 160px;
  }
  main .home-carousel .carousel .carousel-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption {
    width: 70%;
    padding-bottom: 0;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption h1 {
    font-size: 1.25rem;
    width: 100%;
  }
  main .home-carousel .carousel .carousel-item .carousel-caption p {
    display: none;
  }
}

main .area-title h1 {
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

main .how-it-works {
  padding: 36px 0 56px;
}

main .how-it-works .card {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: transparent;
  border-radius: 0;
}

main .how-it-works .card .card-img-top {
  width: 50%;
  margin: auto;
}

main .how-it-works .card .card-body {
  background: transparent;
}

main .how-it-works .card .card-body .card-title {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

main .how-it-works .card .card-body hr {
  width: 50px;
  height: 2px;
  border: 0;
  background: #3C3B3A;
}

main .how-it-works .card .card-body .card-text {
  text-align: center;
}

main .services {
  padding: 40px 0 80px;
  background: url(../../img/service-bg@2x.png) right 20px no-repeat;
  background-size: 20%;
  background-color: white;
}

main .services .card {
  width: 600px;
  background: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .services .card .card-img {
  width: 45px;
}

main .services .card .card-img img {
  width: 45px;
}

main .services .card .card-body {
  margin-top: 5px;
  padding-top: 0;
}

main .services .card .card-body .card-title {
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}

main .services .card .card-body .card-text {
  font-size: 1.125rem;
}

main .categories {
  padding: 40px 0 60px;
  background: rgba(0, 0, 0, 0.05);
}

main .categories .card {
  background: white;
  -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
  border-radius: 0;
  margin-bottom: 20px;
}

main .categories .card .card-icon {
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  font-size: 2rem;
  color: #00A099;
}

main .categories .card .card-body {
  margin-top: 0;
  padding-top: 0;
}

main .categories .card .card-body .card-title a {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-transform: uppercase;
  color: #3C3B3A;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
  padding-left: 10px;
  padding-right: 10px;
}

main .categories .card .card-body .card-title a:hover {
  text-decoration: none;
  color: white;
  background-color: #F19100;
}

main .testimonials {
  padding: 30px 0;
  background: #1f8985;
  background: -webkit-gradient(linear, left top, right top, from(#1f8985), to(#80d5d1));
  background: linear-gradient(90deg, #1f8985 0%, #80d5d1 100%);
}

main .testimonials .testimonial-carousel.carousel {
  background: transparent;
}

main .testimonials .testimonial-carousel.carousel .carousel-item {
  height: 200px;
}

main .testimonials .testimonial-carousel.carousel .carousel-item img {
  height: 200px;
}

main .testimonials .testimonial-carousel.carousel .carousel-item .carousel-caption {
  width: 100%;
  left: auto;
  right: auto;
}

main .testimonials .testimonial-carousel.carousel .carousel-item .carousel-caption h1,
main .testimonials .testimonial-carousel.carousel .carousel-item .carousel-caption p {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: white;
}

main .testimonials .testimonial-carousel.carousel .carousel-item .carousel-caption h1 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: auto;
}

main .testimonials .testimonial-carousel.carousel .carousel-item .carousel-caption p {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 1rem;
  text-align: center;
  width: 60%;
  margin: auto;
}

main .login {
  background: rgba(60, 59, 58, 0.1);
  padding: 40px 0;
}

main .login .login-card {
  min-width: 500px;
  max-width: 500px;
  margin: auto;
}

main .login .login-card p {
  margin: 0;
}

main .login .login-card p a {
  font-weight: 500;
  font-size: 0.75rem;
  color: #3C3B3A;
}

main .login .login-card .card-body-register {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.05);
}

main .login .login-card .card-body-social h1 {
  font-weight: 500;
  font-size: 1rem;
  color: #3C3B3A;
  text-transform: uppercase;
}

main .login .login-card .card-body-social ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .login .login-card .card-body-social ul li {
  margin: 0 5px;
  list-style: none;
  display: inline-block;
}

main .login .login-card .card-body-social p {
  margin-top: 5px;
}

main .login .login-card .card-body-social p:first-child {
  margin-top: 0;
}

main .login .login-card .user-fullname .user-name {
  width: 49%;
}

main .login .login-card .btn-group {
  width: 100%;
}

main .login .login-card .btn-group .btn {
  padding-top: 30px;
  padding-bottom: 30px;
}

main .login .login-card .btn-group .btn-buyer {
  background: #be7200;
}

main .login .login-card .btn-group .btn-buyer:hover {
  background: #a56300;
}

/**********************
  FOOTER 
***********************/
footer {
  position: absolute;
  background: #3C3B3A;
  height: 387px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

footer img {
  width: 116px;
}

footer .footer-links {
  margin: 30px auto;
  width: 65%;
}

footer .footer-links .footer-links-col {
  width: 33.33%;
}

footer .footer-links .footer-links-col ul {
  margin: 0;
  padding: 0;
}

footer .footer-links .footer-links-col ul li {
  list-style: none;
  text-align: center;
}

footer .footer-links .footer-links-col ul li a {
  font-weight: 500;
  text-transform: uppercase;
}

footer .social-media {
  width: 100%;
}

footer .social-media ul {
  margin: 0 auto;
  padding: 0;
}

footer .social-media ul li {
  list-style: none;
  display: inline-block;
}

footer .social-media ul li a {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 2.25rem;
}
/*# sourceMappingURL=styles.css.map */