/**

Project Name: Orombo Tree
Author: Anmol Nandha - Five Quarter Designs
Version: 1.0
Description: The official stylesheet for the Orombo Tree application

*/
@import 'inc/_colours';

@import 'inc/_fonts';

/**********************
  GENERAL 
***********************/
body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(-313deg, rgba(255, 255, 255, 1) 0%, rgba(128, 128, 128, 0.2) 100%);

  h1,
  h2,
  h3 {
    font-family: 'Krub', sans-serif;
  }

  @import 'inc/_form';

  @import 'inc/_card';

  @import 'inc/_buttons';
}

@import 'inc/_navbar';

@import 'inc/_main';

@import 'inc/_footer';