/**

Project Name: Orombo Tree
Author: Anmol Nandha - Five Quarter Designs
Version: 1.0
Description: The official stylesheet for the Orombo Tree application

*/
@import 'inc/templates/_colours';

@import 'inc/templates/_fonts';

@import 'inc/templates/_animation';

/**********************
  GENERAL 
***********************/
html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 16px;
  margin-bottom: 387px;

  &.bg {
    background: rgba($orombogrey, .1);
  }

  h1,
  h2,
  h3 {
    font-family: 'Krub', sans-serif;
  }

  @import 'inc/templates/_buttons';

  @import 'inc/templates/_form';

  @import 'inc/templates/_card';

  // @import 'inc/_carousel';
}

@import 'inc/_navbar';

@import 'inc/_main';

@import 'inc/_footer';