/**

Project Name: Orombo Tree
Author: Anmol Nandha - Five Quarter Designs
Version: 1.0
Description: The official stylesheet for the Orombo Tree application

*/
/**********************
  FONTS 
***********************/
@import url("https://fonts.googleapis.com/css?family=Krub:200,300,400,500,600,700|Saira+Semi+Condensed:100,200,300,400,500,600,700");
@-webkit-keyframes carousel-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes carousel-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes carousel-title {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes carousel-title {
  0% {
    left: -50px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

/**********************
  GENERAL 
***********************/
body {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: white;
  background: linear-gradient(-313deg, white 0%, rgba(128, 128, 128, 0.2) 100%);
}

body h1,
body h2,
body h3 {
  font-family: 'Krub', sans-serif;
}

body form .form-group {
  margin: 0;
}

body .card {
  background: transparent;
  border: 0;
}

body .card .card-header, body .card .card-body {
  border-radius: 0;
  background: white;
}

body .card .card-header {
  font-size: 1.125rem;
}

body .card .card-body {
  margin-top: 5px;
}

body .btn-green, body .btn-orange, body .btn-grey, body .btn-facebook, body .btn-google, body .btn-linkedin {
  border: 0;
  border-radius: 25px;
  color: white;
  width: 230px;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .btn-green {
  background: #00A099;
}

body .btn-green:hover {
  background: #006d68;
}

body .btn-orange {
  background: #F19100;
}

body .btn-orange:hover {
  background: #d88200;
}

body .btn-grey {
  background: #bcbbb9;
}

body .btn-grey:hover {
  background: #222221;
}

body .btn-facebook {
  background: #3B5998;
}

body .btn-google {
  background: #DB4437;
}

body .btn-linkedin {
  background: #0077B5;
}

body .carousel {
  background: #1f8985;
  background: linear-gradient(307deg, #1f8985 0%, #80d5d1 100%);
  max-height: 400px;
}

body .carousel .carousel-item {
  max-height: 400px;
}

body .carousel .carousel-item img {
  opacity: 0;
  -webkit-animation: carousel-img 2s ease-out .5s 1;
          animation: carousel-img 2s ease-out .5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .carousel .carousel-item .carousel-caption {
  width: 1140px;
  text-align: left;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body .carousel .carousel-item .carousel-caption h1,
body .carousel .carousel-item .carousel-caption p {
  opacity: 0;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  width: 665px;
  position: relative;
}

body .carousel .carousel-item .carousel-caption h1 {
  font-size: 2.5rem;
  -webkit-animation: carousel-title 1s ease-out 1s 1;
          animation: carousel-title 1s ease-out 1s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .carousel .carousel-item .carousel-caption p {
  font-size: 1.25rem;
  -webkit-animation: carousel-title 1s ease-out 1.5s 1;
          animation: carousel-title 1s ease-out 1.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .carousel .carousel-item .carousel-caption .btn-orange {
  position: relative;
  opacity: 0;
  -webkit-animation: carousel-title 1s ease-out 2s 1;
          animation: carousel-title 1s ease-out 2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-box-shadow: 0px 13px 16px 0px #00a099;
  box-shadow: 0px 13px 16px 0px #00a099;
}

/**********************
  NAVBAR 
***********************/
.navbar {
  background: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.navbar .navbar-brand {
  width: 189px;
}

.navbar .navbar-brand img {
  width: 189px;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 300;
  text-transform: uppercase;
  color: #3C3B3A;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

.navbar .navbar-nav .nav-item .nav-link.nav-signup-login {
  color: #00A099;
  font-weight: 500;
  border: 1px solid #00A099;
  border-radius: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar .navbar-nav .nav-item .nav-link.nav-signup-login:hover {
  background: #00A099;
  color: white;
}

/**********************
  MAIN 
***********************/
main {
  /* HOW IT WORKS */
  /* SERVICES */
  /* CATEGORIES */
  /* LOGIN */
}

main .area-title h1 {
  text-transform: uppercase;
  font-weight: 400;
}

main .area-title hr {
  width: 100px;
  height: 4px;
  border: 0;
  background: #3C3B3A;
  display: inline-block;
}

main .how-it-works {
  padding: 36px 0 56px;
  background-color: #EDEDED;
}

main .how-it-works .card {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 0;
  -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
}

main .how-it-works .card .card-img-top {
  width: 50%;
  margin: auto;
}

main .how-it-works .card .card-body .card-title {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

main .how-it-works .card .card-body hr {
  width: 50px;
  height: 2px;
  border: 0;
  background: #3C3B3A;
}

main .how-it-works .card .card-body .card-text {
  text-align: center;
}

main .services {
  padding: 40px 0 80px;
  background: url(../../img/service-bg@2x.png) right 20px no-repeat;
  background-size: 25%;
  background-color: white;
}

main .services .card {
  width: 600px;
  background: transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .services .card .card-img {
  width: 91px;
}

main .services .card .card-img img {
  width: 91px;
}

main .services .card .card-body .card-title {
  font-weight: 400;
  font-size: 2.625rem;
  text-transform: uppercase;
}

main .services .card .card-body .card-text {
  font-size: 1.125rem;
}

main .categories .category {
  height: 200px;
  width: 25%;
}

main .categories .category.developers {
  background: url(../../img/developers-img.jpg);
  background-size: cover;
}

main .categories .category.creatives {
  background: url(../../img/creatives-img.jpg);
  background-size: cover;
}

main .categories .category.writers {
  background: url(../../img/writers-img.jpg);
  background-size: cover;
}

main .categories .category.seo {
  background: url(../../img/seo-img.jpg);
  background-size: cover;
}

main .categories .category h1 {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

main .categories .category h1 a {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #3C3B3A;
  border-radius: 25px;
  width: 100%;
  text-align: center;
  -webkit-transition: ease .5s all;
  transition: ease .5s all;
}

main .categories .category h1 a:hover {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

main .login-card {
  min-width: 500px;
  max-width: 501px;
}

main .login-card p {
  margin: 0;
}

main .login-card p a {
  font-weight: 500;
  font-size: 0.75rem;
  color: #3C3B3A;
}

main .login-card .card-body-register {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 0;
  background: rgba(0, 0, 0, 0.05);
}

main .login-card .card-body-social p {
  margin-top: 5px;
}

main .login-card .card-body-social p:first-chils {
  margin-top: 0;
}

main .login-card .user-fullname .user-name {
  width: 49%;
}

main .login-card .btn-group {
  width: 100%;
}

main .login-card .btn-group .btn {
  padding-top: 30px;
  padding-bottom: 30px;
}

main .login-card .btn-group .btn-buyer {
  background: #be7200;
}

main .login-card .btn-group .btn-buyer:hover {
  background: #a56300;
}

/**********************
  FOOTER 
***********************/
footer {
  background: #3C3B3A;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

footer a {
  color: rgba(255, 255, 255, 0.6);
}

footer img {
  width: 116px;
}

footer .footer-links {
  margin: 30px auto;
  width: 65%;
}

footer .footer-links .footer-links-col {
  width: 33.33%;
}

footer .footer-links .footer-links-col ul {
  margin: 0;
  padding: 0;
}

footer .footer-links .footer-links-col ul li {
  list-style: none;
  text-align: center;
}

footer .footer-links .footer-links-col ul li a {
  font-weight: 500;
  text-transform: uppercase;
}

footer .social-media {
  width: 100%;
}

footer .social-media ul {
  margin: 0 auto;
  padding: 0;
}

footer .social-media ul li {
  list-style: none;
  display: inline-block;
}

footer .social-media ul li a {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 2.25rem;
}
/*# sourceMappingURL=styles.css.map */