.profile-cover-img {
  height: 200px;
  background: lighten($orombogrey, 70%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease .5s all;

  i {
    color: lighten($orombogrey, 50%);
    font-size: 3rem;
  }

  .btn-update-cover-img {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    width: auto;
    opacity: 0;
    transition: ease .5s all;

    i {
      color: white;
      font-size: 1rem;
    }
  }

  &:hover {
    background: lighten($orombogrey, 60%);

    .btn-update-cover-img {
      opacity: 1;
    }
  }
}

.add-profile {
  display: flex;
  justify-content: space-between;

  .user-info {
    width: 300px;
    background: white;
    padding: 1rem;
    border-bottom: 1px solid rgba($orombogrey, .2);

    .user-pic {
      margin: auto;
      width: 50px;
      height: 50px;
      background: $orombogreen;
      border-radius: 35px;
      position: relative;
      transition: ease .5s all;

      img {
        width: 50px;
        height: 50px;
        border-radius: 35px;
      }

      &:hover {
        a {
          background: rgba($oromboorange, .8);
          color: white
        }
      }
    }

    .user-name {
      margin-top: .5rem;
      line-height: 1rem;

      span {
        text-transform: uppercase;

        small {
          text-transform: capitalize;
        }
      }
    }

    .rating {
      color: $oromboorange;
    }

    .user-intro {
      font-size: 0.875rem;

      a {
        color: $orombogreen;

        &.btn {
          color: white;
        }
      }
    }

    .user-skills {
      h1 {
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  .profile-details {
    width: calc(100% - 300px);

    .profile-title,
    .profile-description,
    .profile-portfolio {
      padding: .75rem 1rem .75rem 1rem;

      .form-control {
        border: 0;
        background: transparent;
        border-radius: 0;
        outline: none;
      }
    }

    .profile-title {
      border-bottom: 2px solid rgba($orombogrey, .05);

      .form-control {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5rem;
      }
    }

    .profile-description {

      .form-control {
        background: white;
      }
    }

    .profile-portfolio {
      width: 100%;

      .portfolio-title {
        padding-top: .75rem;
        padding-bottom: .75rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid rgba($orombogrey, .05);
        border-bottom: 2px solid rgba($orombogrey, .05);

        h1 {
          font-size: 1rem;
          text-transform: uppercase;
          margin: 0;
        }

        .add-portfolio-item {
          .btn-green {
            width: auto;
          }
        }
      }

      .portfolio-items {
        margin-top: 1rem;

        .portfolio-item {
          width: 24%;
          min-height: 100px;
          border-radius: 5px;
          border: 2px dashed lighten($orombogrey, 60%);
          background: lighten($orombogrey, 70%);
          transition: ease .5s all;

          &:hover {
            background: lighten($orombogrey, 65%);
            border-style: solid;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;

            &:before {
              font-family: 'Font Awesome 5 Pro';
              content: "\f055";
              color: white;
              font-size: 2rem;
            }
          }
        }
      }

    }

    .portfolio-submit {
      padding-top: 1.25rem;
      border-top: 2px solid rgba($orombogrey, .05);
    }
  }
}