.form-group {
  margin: 0;

  .form-text {
    font-style: italic;
  }

  .ddl {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 35px;
    overflow: hidden;

    .form-control {
      border: 0;
      option {
        padding-left: 1rem;
      }
    }
  }

  .form-control {
    border-radius: 35px;
  }

  textarea {
    &.form-control {
      border-radius: 15px;
    }
  }

  .input-group {
    .input-group-text {
      border-top-left-radius: 35px;
      border-bottom-left-radius: 35px;
      background: none;
      border-right: 0;
    }

    .form-control {
      border-left: 0;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
    }
  }
}