.btn-green, .btn-orange, .btn-grey, .btn-facebook, .btn-google {
  border: 0;
  border-radius: 4px;
  color: white;
  width: 230px;
  text-transform: uppercase;
}
.btn-green {
  background: $orombogreen;
}
.btn-orange {
  background: $oromboorange;
}
.btn-grey {
  background: lighten($orombogrey,50%);
}
.btn-facebook {
  background: $facebook;
}
.btn-google {
  background: $google;
}