.btn-green, .btn-orange, .btn-grey, .btn-facebook, .btn-google, .btn-linkedin {
  border: 0;
  border-radius: 25px;
  color: white;
  width: 230px;
  text-transform: uppercase;
  transition: all .5s ease;
}
.btn-green {
  background: $orombogreen;
  &:hover {
    background: darken($orombogreen,10%);
  }
}
.btn-orange {
  background: $oromboorange;
  &:hover {
    background: darken($oromboorange,5%);
  }
}
.btn-grey {
  background: lighten($orombogrey,50%);
  &:hover {
    background: darken($orombogrey,10%);
  }
}
.btn-facebook {
  background: $facebook;
  height: 36px;
  width: 36px;
  padding: 0;
}
.btn-google {
  background: $google;
  height: 36px;
  width: 36px;
  padding: 0;
}
.btn-linkedin {
  background: $linkedin;
  height: 36px;
  width: 36px;
  padding: 0;
}