.card {
  background: transparent;
  border: 0;
  .card-header, .card-body {
    border-radius: 0;
    background: white;
  }
  .card-header {
    font-size: 1.125rem;
  }
  .card-body {
    margin-top:5px;
  }
}