/**********************
  MAIN 
***********************/

main {
  padding: 40px 0;

  /* LOGIN */
  .login-card {
    min-width: 500px;

    p {
      margin: 0;

      a {
        font-weight: 500;
        font-size: 0.75rem;
        color: $orombogrey;
      }
    }

    .card-body-register {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      background: rgba(black, .05);
    }

    .card-body-social {
      p {
        margin-top: 5px;

        &:first-chils {
          margin-top: 0;
        }
      }
    }

    .user-fullname {
      .user-name {
        width: 49%;
      }
    }

    .btn-group {
      width: 100%;
      .btn {
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .btn-buyer {
        background: darken($oromboorange, 10%);
        &:hover {
          background: darken($oromboorange, 15%);
        }
      }
    }

  }
}