/**********************
  MAIN 
***********************/

main {

  /* HOME SLIDER */
  .home-carousel {
    .carousel {
      background: rgb(31, 137, 133);
      background: linear-gradient(307deg, rgba(31, 137, 133, 1) 0%, rgba(128, 213, 209, 1) 100%);
      max-height: 400px;

      .carousel-item {
        max-height: 400px;

        img {
          opacity: 0;
          animation: carousel-img 2s ease-out .5s 1;
          animation-fill-mode: forwards;
        }

        .carousel-caption {
          width: 1140px;
          text-align: left;
          margin: auto;
          padding-left: 15px;
          padding-right: 15px;
          transition: ease .5s all;

          h1,
          p {
            opacity: 0;
            font-family: 'Saira Semi Condensed', sans-serif;
            font-weight: 400;
            width: 665px;
            position: relative;
          }

          h1 {
            font-size: 2.5rem;
            animation: carousel-title 1s ease-out 1s 1;
            animation-fill-mode: forwards;
          }

          p {
            font-size: 1.25rem;
            animation: carousel-title 1s ease-out 1.5s 1;
            animation-fill-mode: forwards;
          }

          .btn-orange {
            position: relative;
            opacity: 0;
            animation: carousel-title 1s ease-out 2s 1;
            animation-fill-mode: forwards;
            -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 160, 153, 1);
            -moz-box-shadow: 0px 13px 16px 0px rgba(0, 160, 153, 1);
            box-shadow: 0px 13px 16px 0px rgba(0, 160, 153, 1);
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .home-carousel {
      .carousel {
        .carousel-item {
          .carousel-caption {
            width: 70%;
            padding-bottom: 0;

            h1 {
              font-size: 2rem;
              width: 100%
            }

            p {
              font-size: 1rem;
              width: 100%
            }
          }
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .home-carousel {
      .carousel {
        .carousel-item {
          .carousel-caption {
            width: 70%;
            padding-bottom: 0;

            h1 {
              font-size: 2rem;
              width: 100%
            }

            p {
              font-size: 1rem;
              width: 100%
            }
          }
        }
      }
    }
  }
  @media (max-width: 575.98px) {
    .home-carousel {
      .carousel {
        .carousel-item {
          min-height: 160px;
          img {
            display: flex;
            align-items: flex-end;
          }
          .carousel-caption {
            width: 70%;
            padding-bottom: 0;

            h1 {
              font-size: 1.25rem;
              width: 100%
            }

            p {
              display:none;
            }
          }
        }
      }
    }
  }

  .area-title {
    h1 {
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  /* HOW IT WORKS */
  .how-it-works {
    padding: 36px 0 56px;

    .card {
      padding-top: 20px;
      padding-bottom: 30px;
      background-color: transparent;
      border-radius: 0;
      // -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      // -moz-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      // box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);

      .card-img-top {
        width: 50%;
        margin: auto;
      }

      .card-body {
        background: transparent;

        .card-title {
          font-size: 1.25rem;
          text-align: center;
          text-transform: uppercase;
        }

        hr {
          width: 50px;
          height: 2px;
          border: 0;
          background: $orombogrey;
        }

        .card-text {
          text-align: center;
        }
      }
    }
  }

  /* SERVICES */
  .services {
    padding: 40px 0 80px;
    background: url(../../img/service-bg@2x.png) right 20px no-repeat;
    background-size: 20%;
    background-color: white;

    .card {
      width: 600px;
      background: transparent;
      flex-direction: row;

      .card-img {
        width: 45px;

        img {
          width: 45px;
        }
      }

      .card-body {
        margin-top: 5px;
        padding-top: 0;

        .card-title {
          font-weight: 400;
          font-size: 2rem;
          text-transform: uppercase;
        }

        .card-text {
          font-size: 1.125rem
        }
      }
    }
  }

  /* CATEGORIES */
  .categories {
    padding: 40px 0 60px;
    background: rgba(black, .05);

    .card {
      background: white;
      -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      border-radius: 0;
      margin-bottom: 20px;

      .card-icon {
        text-align: center;
        padding: 20px;
        padding-bottom: 0;
        font-size: 2rem;
        color: $orombogreen;
      }

      .card-body {
        margin-top: 0;
        padding-top: 0;

        .card-title {
          a {
            font-family: 'Saira Semi Condensed', sans-serif;
            font-weight: 400;
            font-size: 1rem;
            text-transform: uppercase;
            color: $orombogrey;
            border-radius: 25px;
            width: 100%;
            text-align: center;
            transition: ease .5s all;
            padding-left: 10px;
            padding-right: 10px;

            &:hover {
              text-decoration: none;
              color: white;
              background-color: $oromboorange;
            }
          }
        }
      }
    }
  }

  /* TESTIMONIALS */
  .testimonials {
    padding: 30px 0;
    background: rgb(31, 137, 133);
    background: linear-gradient(90deg, rgba(31, 137, 133, 1) 0%, rgba(128, 213, 209, 1) 100%);

    .testimonial-carousel {

      &.carousel {
        background: transparent;

        .carousel-item {
          height: 200px;

          img {
            height: 200px;
          }

          .carousel-caption {
            width: 100%;
            left: auto;
            right: auto;

            h1,
            p {
              font-family: 'Saira Semi Condensed', sans-serif;
              color: white;
            }

            h1 {
              font-size: 1.25rem;
              font-weight: 500;
              text-align: center;
              width: 90%;
              margin: auto;
            }

            p {
              margin-top: 20px;
              padding-top: 20px;
              font-size: 1rem;
              text-align: center;
              width: 60%;
              margin: auto;
            }
          }
        }
      }
    }
  }

  /* LOGIN */
  .login {
    background: rgba($orombogrey, .1);
    padding: 40px 0;

    .login-card {
      min-width: 500px;
      max-width: 500px;
      margin: auto;

      p {
        margin: 0;

        a {
          font-weight: 500;
          font-size: 0.75rem;
          color: $orombogrey;
        }
      }

      .card-body-register {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0;
        background: rgba(black, .05);
      }

      .card-body-social {
        h1 {
          font-weight: 500;
          font-size: 1rem;
          color: $orombogrey;
          text-transform: uppercase;
        }

        ul {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;

          li {
            margin: 0 5px;
            list-style: none;
            display: inline-block;
          }
        }

        p {
          margin-top: 5px;

          &:first-child {
            margin-top: 0;
          }
        }
      }

      .user-fullname {
        .user-name {
          width: 49%;
        }
      }

      .btn-group {
        width: 100%;

        .btn {
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .btn-buyer {
          background: darken($oromboorange, 10%);

          &:hover {
            background: darken($oromboorange, 15%);
          }
        }
      }

    }
  }

}