/**********************
  NAVBAR 
***********************/
.navbar {
  background: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  z-index: 9999;

  .navbar-brand {
    width: 189px;

    img {
      width: 189px;
    }
  }

  .navbar-toggler {
    font-size: 2rem;

    .navbar-toggler-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .navbar-collapse {
    &.show {
      margin-top: 10px;
      border-top: 1px solid rgba($orombogrey, .5);
    }
  }

  .navbar-nav {
    .nav-item {
      &:last-of-type {
        margin-left: .5rem;
      }
      .nav-link {
        font-weight: 300;
        text-transform: uppercase;
        color: $orombogrey;
        transition: ease .5s all;

        &.nav-icon {
          padding-top: .48rem;
          i {
            font-size: 1.5rem;
          }
        }

        &.nav-signup-login,
        &.nav-logout {
          color: $orombogreen;
          font-weight: 500;
          border: 1px solid $orombogreen;
          border-radius: 25px;

          &:hover {
            background: $orombogreen;
            color: white;
          }
        }

        &.nav-signup-login {
          padding-left: 1rem;
          padding-right: 1rem;
        }

        &.nav-logout {
          padding-left: .75rem;
          padding-right: .75rem;

          i {
            margin-right: 10px;
          }
        }
      }
    }

    .dropdown-menu {
      border-radius: 0;
      border: 0;
      -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      -moz-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);
      box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.36);

      .dropdown-item {
        i {
          margin-right: 10px;
        }
      }
    }
  }
}