/**********************
  NAVBAR 
***********************/
.navbar {
  background: white;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

  .navbar-brand {
    width: 189px;

    img {
      width: 189px;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        font-weight: 300;
        text-transform: uppercase;
        color: $orombogrey;
        transition: ease .5s all;
        &.nav-signup-login {
          color: $orombogreen;
          font-weight: 500;
          border: 1px solid $orombogreen;
          border-radius: 25px;
          padding-left: 1rem;
          padding-right: 1rem;
          &:hover {
            background: $orombogreen;
            color: white;
          }
        }
      }
    }
  }
}